<section id="item-list">
    <p class="server-error" *ngIf="errorMsg">{{errorMsg}}</p>
    <div id="home-search">
        <input type="text" name="searchTerm" placeholder="Search" [(ngModel)]="searchTerm" (input)="search()">
        <input type="number" placeholder="Price from:" name [(ngModel)]="searchPriceDown" (change)="search()"
            (input)="search()">
        <input type="number" placeholder="Price to:" name [(ngModel)]="searchPriceUp" (change)="search()"
            (input)="search()">
    </div>
    <app-ad *ngFor="let a of filteredAds" [cdate]="a.created_at" [udate]="a.updatedAt"
        [title]="a.title" [description]="a.description" [imgUrl]="a.imgUrl" [price]="a.price"
        [customId]="a.customId"></app-ad>
    <div class="label">
        <p *ngIf="filteredAds.length === 0 && loading == false">No ads to show.</p>
    </div>
</section>

<!-- | titleFilter: searchTerm -->