<section id="home-guest">
    <h1>Find everything you're looking for!</h1>
    <form id="home-search"  [formGroup]="form" (ngSubmit)="formHandler()">
        <input type="text" name="text" formControlName="text">
        <input type="submit" value="Search" [disabled]="form.invalid">
    </form>
    <div class="signup-div">
            <a [routerLink]="['/register']"><button>Sign up</button></a>
    </div>
    <p>Already a member? <a [routerLink]="['/login']" class="signin-a">Sign in</a></p>
    
</section>
<section id="recent">
    <div class="label">
        <p class="recent-ads-p">Recent Ads:</p>
        <a [routerLink]="['/ads']" id="see-all">See all</a>
    </div>
    <p class="server-error" *ngIf="errorMsg">{{errorMsg}}</p>
    <app-ad *ngFor="let a of ads" [cdate]="a.created_at" [udate]="a.updatedAt"
        [title]="a.title" [description]="a.description" [imgUrl]="a.imgUrl" [price]="a.price"
        [customId]="a.customId"></app-ad>
</section>