<section id="home-guest">
    <h1>Find everything you're looking for!</h1>
    <form id="home-search"  [formGroup]="form" (ngSubmit)="formHandler()">
        <input type="text" name="text" formControlName="text">
        <input type="submit" value="Search" [disabled]="form.invalid">
    </form>
    <div class="signup-div">
            <a [routerLink]="['/register']"><button>Sign up</button></a>
    </div>
    <p>Already a member? <a [routerLink]="['/login']" class="signin-a">Sign in</a></p>
</section>