.item {
    display: inline-block;
    margin: 10px;
    width: 20%;
    text-align: center;
    border: 3.5px solid #a1ce55;
    border-radius: 15px;
    height: 450px;
    padding: 10px;
    min-width: 320px;
}

.item-icon {
    object-fit: cover;
    height: 230px;
    width: 230px;
}

.item-info-div {
    display: block;
    /* border: 3.5px solid #a1ce55; */
    margin: 1px;
    height: 120px;
    padding: 0px;
}

.item-icon-div {
    display: block;
    /* border: 3.5px solid #a1ce55; */
    margin: 3px;
}

.item-buttons-div {
    display: block;
    /* border: 3.5px solid #a1ce55; */
    margin: 1px;
}

.item-info-div p {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.item-info-div h2 {
    font-family: 'Roboto Condensed', 'Times New Roman', Times, serif;
}

.item-buttons-div button {
    font-size: 24px;
    padding: 1px 25px;
    margin-left: 10px;
}
a{
    color: #2b3238;
    text-decoration: none;    
}

a:hover{
    text-decoration: underline;
    color: #a1ce55;
}

#price{
    color: #2b3238;
    font-weight: bold;
    font-size: 21px;
    margin: 0px;
    padding: 0px;
}

.date-box{
    margin-top: 1px;
    padding: 0px;
}

.inline{
    display: inline-block;
    margin: 0px;
}

p{
    font-family: 'Roboto Condensed', 'Times New Roman', Times, serif;
}

.date-label{
    font-weight: bold;
}

.date{
    font-style: italic;
    margin-left: 3px;
}