.item {
    display: inline-block;
    margin: 10px;
    width: 20%;
    text-align: center;
    border: 3.5px solid #a1ce55;
    border-radius: 15px;
    height: 450px;
    padding: 10px;
    min-width: 320px;
}

.item-icon {
    object-fit: cover;
    height: 230px;
    width: 230px;
}

.item-info-div {
    display: block;
    /* border: 3.5px solid #a1ce55; */
    margin: 3px;
    height: 120px;
}

.item-icon-div {
    display: block;
    /* border: 3.5px solid #a1ce55; */
    margin: 3px;
}

.item-buttons-div {
    display: block;
    /* border: 3.5px solid #a1ce55; */
    margin: 3px;
}

.item-info-div p {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.item-info-div h2 {
    font-family: 'Roboto Condensed', 'Times New Roman', Times, serif;
}

.item-buttons-div button {
    font-size: 27px;
    padding: 5px 30px;
    margin-left: 10px;
}




