<section id="comment-section">
<div class="comment-card" *ngIf="!deleted">
    <div class="username-box">
        <p class="username">{{username}}:</p>
    </div>
    <div class="date-box">
        <a *ngIf="isOwner" (click)="onDelete()" id="deleteBtn">Delete</a>
        <p class="cdate">{{date}}{{" "}}{{time}}</p>
    </div>
    <div class="text-box">
        <p class="comment-text">{{text}}</p>
    </div>

</div>
<div class="comment-card-deleted" *ngIf="deleted">
    <p class="deleted">Deleted</p>
</div>
</section>

