<section id="my-profile">
    <div id="profile info">
        <div class="info-card">
            <p class="p-label">First Name:</p>
            <p class="p-value">{{firstName}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Last Name:</p>
            <p class="p-value">{{lastName}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Email:</p>
            <p class="p-value">{{email}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Username:</p>
            <p class="p-value">{{username}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Created:</p>
            <p class="p-value">{{createdAt}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Ads:</p>
            <p class="p-value">{{adsCount}}</p>
        </div>
    </div>
    <div *ngFor="let a of myAds">
        {{myAds.title}}
</div>
</section>