<form [formGroup]="form" (ngSubmit)="registerHandler()">
    <div class="form-group">
        <input id="first-name" type="text" name="first-name" placeholder="First name" formControlName="firstName">
    </div>
    <p class="error" *ngIf="form.get('firstName')?.errors?.['required'] && form.get('firstName')?.touched">First name is required!</p>
    <div class="form-group">
        <input id="last-name" type="text" name="last-name" placeholder="Last name" formControlName="lastName">
    </div>
    <p class="error" *ngIf="form.get('lastName')?.errors?.['required'] && form.get('lastName')?.touched">Last name is required!</p>
    <div class="form-group">
        <input id="email" type="text" name="email" placeholder="E-mail" formControlName="email">
    </div>
    <p class="error" *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched">E-mail is required!</p>
    <p class="error" *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched">E-mail is invalid!</p>

    <div class="form-group">
        <input id="username" type="text" name="username" placeholder="Username" formControlName="username">
    </div>
    <p class="error" *ngIf="form.get('username')?.errors?.['required'] && form.get('username')?.touched">Username is required!</p>
    <p class="error" *ngIf="form.get('username')?.errors?.['minlength'] && form.get('username')?.touched">Username must be at least 6 characters!</p>

    <ng-container formGroupName="pass">
        <div class="form-group">
            <input id="pass" type="password" name="pass" placeholder="Password" formControlName="password">
        </div>
        <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['required'] && form.get('pass')?.get('password')?.touched">Password is required!</p>
        <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength'] && form.get('pass')?.get('password')?.touched">Password must be at least 8 characters!</p>

        <div class="form-group">
            <input id="repass" type="password" name="repass" placeholder="Repeat password" formControlName="repass">
        </div>
        <p class="error" *ngIf="form.get('pass')?.errors?.['sameValueGroupValidator'] && form.get('pass')?.get('repass')?.touched">Passwords does not match!</p>
    </ng-container>

    <button [disabled]="form.invalid">Sign Up</button>
</form>