.item-icon-div { grid-area: img; }
.item-info-div { grid-area: info; }
.item-buttons-div { grid-area: buttons; }

.item {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    position: relative;
    text-align: center;
    border: 3.5px solid #a1ce55;
    border-radius: 15px;
    height: 20%;
    padding: 10px;
    grid-template-areas:
    'img img img img info info info info info'
    'img img img img info info info info info'
    'img img img img info info info info info'
    'img img img img buttons buttons buttons buttons buttons';
}

.item-icon {
    object-fit: cover;
    height: 230px;
    width: 230px;
    display: inline-block;
}

.item-info-div {
    display: inline-block;
    /* border: 3.5px solid #a1ce55; */
    margin: 3px;
}

.item-icon-div {
    display: inline-block;
    /* border: 3.5px solid #a1ce55; */
    margin: 3px;
}

.item-buttons-div {
    display: inline-block;
    /* border: 3.5px solid #a1ce55; */
    margin: 3px;
}

.item-info-div p {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.item-info-div h2 {
    font-family: 'Roboto Condensed', 'Times New Roman', Times, serif;
}

.item-buttons-div button {
    font-size: 27px;
    padding: 5px 30px;
    margin-left: 10px;
}