<section class="header">
    <div class="navigation">
        <a href="#" class="header-logo">
            <h1>Flyerly</h1>
        </a>
        <ul>
            <li><a [routerLink]="['']" class="active">Home</a></li>
            <li><a [routerLink]="['ads']">Ads</a></li>
            <li><a [routerLink]="['create']">New Ad</a></li>
            <li *ngIf="router.url != '/home'"><a [routerLink]="['login']">Login</a></li>
            <li *ngIf="router.url != '/home'"><a [routerLink]="['register']">Register</a></li>
        </ul>
    </div>
  </section>
