#details{
    padding-top: 120px;
    text-align: center;
}

p {
    display: inline-block;
    font-family: 'Roboto Condensed', 'Times New Roman', Times, serif;
    font-size: 18px;
}

.p-label {
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 8px;
}

img {
    object-fit: cover;
    height: 230px;
    width: 230px;
}
