<section id="details">
    <div id="details-info">
        <img src="{{imgUrl}}">
        <div class="info-card">
            <p class="p-label">Title:</p>
            <p class="p-value">{{title}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Description:</p>
            <p class="p-value">{{description}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Price:</p>
            <p class="p-value">${{price}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Uploaded:</p>
            <p class="p-value">{{created_at}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Last update:</p>
            <p class="p-value">{{updatedAt}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Owner:</p>
            <p class="p-value">{{username}}</p>
        </div>
    </div>
    
</section>
<section id="comment-form">
    <form [formGroup]="form2" (ngSubmit)="formHandler()">
        <div class="form-group">
            <input id="text" [ngClass]="{'red' : form2.get('text')?.errors && form2.get('text')?.touched}" type="text" name="text" placeholder="Comment" formControlName="text">
            <p class="error" *ngIf="form2.get('text')?.errors?.['required'] && form2.get('text')?.touched">This field can't be empty!</p>
        </div>
        <button [disabled]="form2.invalid">Post</button>
    </form>
</section>
<app-comments [comments]="comments"></app-comments>
