<section id="details">
    <div id="details-info">
        <img src="{{imgUrl}}">
        <div class="info-card">
            <p class="p-label">Title:</p>
            <p class="p-value">{{title}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Description:</p>
            <p class="p-value">{{description}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Price:</p>
            <p class="p-value">${{price}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Uploaded:</p>
            <p class="p-value">{{created_at}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Last update:</p>
            <p class="p-value">{{updatedAt}}</p>
        </div>
        <div class="info-card">
            <p class="p-label">Owner:</p>
            <p class="p-value">{{username}}</p>
        </div>
    </div>
    
</section>
