<form #registerForm = "ngForm" (ngSubmit)="handleFormSubmit(registerForm.value)">
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" name="first-name" ngModel>
    </div>
    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" name="last-name" ngModel>
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email" type="text" name="email" ngModel>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" ngModel>
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input id="pass" type="text" name="pass" ngModel>
    </div>
    <div class="form-group">
        <label for="repass">Repeat password</label>
        <input id="repass" type="text" name="repass" ngModel>
    </div>
    <button>Sign Up</button>
</form>

{{registerForm.value | json}}